@using DivinityLights.Web.Common 
@using DivinityLights.Web.Models
@model DivinityLights.Web.Models.BaseViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Content/divinity-lights.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/divinity-responsive.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/font-awesome/css/font-awesome.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Vendor/owl-carousel/owl.carousel.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Vendor/owl-carousel/owl.theme.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Vendor/mediaelement/mediaelementplayer.css")" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <header>          
            <nav class="navbar navbar-default">
                <div class="container">
                    <h1 class="logo">
                        <a href="@Url.Action(Actions.Index, Controllers.HomeController)" id="HyperLink1"><img src="@Url.Content("~/Images/logo.png")" id="logoimage"></a>
                    </h1>
                    <div class="search">
                        <div method="get" action="page-search-results.aspx" id="searchForm" novalidate="novalidate">
                            <div class="input-group">
                                <input type="text" placeholder="Search..." id="q" name="q" class="form-control search">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <nav>
                        <ul class="nav nav-pills nav-top">
                            <li class="phone">
                                <span><i class="glyphicon glyphicon-phone"></i>(981) 130-7578</span>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav  navbar-right">
                            <li class="active"><a href="@Url.Action(Actions.Index, Controllers.HomeController)">Home</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products <span class="caret"></span></a>
                                <ul class="dropdown-menu">
@foreach (BaseCategoryModel category in Model.BaseCategories)
{
    <li><a href="@Url.Action(Actions.CategoryProducts, Controllers.ProductController, new { id = category.CategoryId })">@category.CategoryDisplayName</a></li>
}
                                  
                                </ul>
                            </li>
                            <li><a href="@Url.Action(Actions.About,Controllers.HomeController)">About Us</a></li>
                            <li><a href="#about">Career</a></li>
                            <li><a href="#contact">Contact Us</a></li>
                            <li>
                                <div class="social-icons">
                                    <ul class="social-icons">
                                        <li class="facebook"><a title="Facebook" target="_blank" href="https://www.facebook.com/divinitylights?ref=aymt_homepage_panel">Facebook</a></li>
                                        <li class="twitter"><a title="Twitter" target="_blank" href="http://www.twitter.com/">Twitter</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </nav>
        </header>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <div>
        <footer>
            <div class="footer-ribon">
                <span>Get in Touch</span>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-1">
                            <a href="" class="logo">
                                <img alt="Porto Website Template" class="img-responsive" src="@Url.Content("~/Images/sovitron.png")">
                            </a>
                        </div>
                        <div class="col-md-7">
                            <p>© Copyright 2015. All Rights Reserved.</p>
                        </div>
                        <div class="col-md-4">
                            <nav id="sub-menu">
                                <ul>
                                    <li><a href="@Url.Action(Actions.About,Controllers.HomeController)">About Us</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)     


    <script src="@Url.Content("~/Scripts/jquery.easing.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.appear.js")"></script>
    <script src="@Url.Content("~/Scripts/Divinity/divinity-lights.js")"></script>
    <script src="@Url.Content("~/Scripts/Divinity/plugins.js")"></script>
</body>
</html>
